/**style**/

.index-page {
	background-color: #f0f0f0;
}


.index-swiper-container {
	width: 100%;
	height: 200px;
}

.index-swiper-container img {
	width: 100%;
	height: 100%;
}


.bottom {
	background: #F1F1F1;
	padding: 1px 0;
}

.bottom .active .span2{
	color: #F3BE0C;
}

.bottom .span1{
	display: block;
	text-align: center;
	height: 25px;
	padding: 0;
}

.bottom .span2{
	display: block;
	text-align: center;
	height: 15px;
	padding: 0;
	color: #000;
	font-size: 12px;
}

.bottom .span1 img{
	height: 25px;
}

.bar-fill {
	padding: 0;
}

.bar-fill a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 44px;
	background: #0894ec;
	text-align: center;
	color: #fff;
}