html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}
html{
	font-size:100px;
}
body{
	background:url('../images/berlin-bg.png');
	background-size:cover;
	background-position:center;
}
img{
	width:100%;
}
/*头部*/
#header{
	width:100%;
	height:1.3rem;
}
.header{
	width:100%;
	height:.65rem;
	text-align:center;
	background:#e4e4e4;
}
.header>ul>li,.level>ul>li{
	width:33%;
	height:.65rem;
	float:left;
	line-height:.63rem;
}
.header>ul>li>a,.level>ul>li>a{
	float:left;
	margin-left:.45rem;
}
.header>ul>li:first-child>i{
	display:inline-block;
	width:0px;
	height:0px;
	border:.08rem solid red;
	border-color: #9d9d9d transparent transparent transparent;
	margin-top:.3rem;
	margin-left:.1rem;
	float:left;
}
.header>ul>li:first-child>a{
	border-bottom:2px solid #B9001B;
	color:#B9001B;
}
.header>ul>li>a,.level>ul>li>a{
	font-size:.18rem;
	color:#9d9d9d;
}
.level{
	width:100%;
	height:.65rem;
	background:#c9c9c9;
	display:none;
}

/*主体*/
#main{
	width:5rem;
	height:1rem;
	margin-top:.4rem;
}
.logo{
	width:2.9rem;
	height:.73rem;
	background-size:cover;
	margin:0 auto;
	margin-bottom:.3rem;
}
.logo1{
	width:1.6rem;
	height:.73rem;
	background:url('../images/logo.png');
	background-size:cover;
	float:left;
}
.logo2{
	width:.91rem;
	height:.73rem;
	background:url('../images/berlin-film-logo.png');
	float:left;
	background-size:cover;
	margin-left:.1rem;
}
.logo3{
	height:.73rem;
	float:left;
	border-left:1px solid #414041;
	margin-left:.1rem;
}

.box>p{
	font-size:.45rem;
	font-family:'宋体';
	color:rgb(255,255,255);
	text-align:center;
	width:100%;
	height:.6rem;
	margin-bottom:.5rem;
	text-align:center;
}
.box>p>span{
	color:#E50020;
	font-size:.8rem;
}
.list>ul>li>span{
	display:inline-block;
	line-height:.4rem;
	width:4.29rem;
	font-size:.18rem;
	color:#8D8E92;
	text-align:center;
}

.box{
	width: 100%;
	height: 7.2rem;
	position: relative;
	overflow:hidden;
}

.list{
	width: 100%;
	height: 4.96rem;
	position: absolute;
	left: 50%;
	margin-left: -50%;
}

.list li{
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	opacity: 0;
	transition: all 0.3s ease-out;
}
.list img{
	width: 4.49rem;
	height: 4.96rem;
	border:none;
	float: left;
}
.list .p1{
	transform:translate3d(-1.2rem,0,0) scale(0.81);
}
.list .p2{
	transform:translate3d(0,0,0) scale(0.81);
	transform-origin:0 50%;
	opacity: 0.8;
	z-index: 2;
}
.list .p3{
	transform:translate3d(1rem,0,0) scale(1);
	z-index: 3;
	opacity: 1;
}
.list .p4{
	transform:translate3d(2.4rem,0,0) scale(0.81);
	transform-origin:100% 50%;
	opacity: 0.8;
	z-index: 2;
}
.list .p5{
	transform:translate3d(3.6rem,0,0) scale(0.81);
}
.list .p6{
	transform:translate3d(4.8rem,0,0) scale(0.81);
}
.list .p7{
	transform:translate3d(6rem,0,0) scale(0.81);
}

.list>ul>li>span{
	visibility: hidden;
}

.list>ul>.p3>span{
	visibility: visible;
}


.container{
	width:100%;
	height:7.2rem;
	overflow:scroll;
	overflow:hidden;
	transition:all 3s ease;
}
.frame{
	width:100%;
	height:100rem;
}



